#root {
  max-width: 95vw;
  width: 95vw;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  height: 100vh;
}

.search-input{
  @media screen and (max-width: 575px) {
    min-width: 100% !important;
    margin: auto;
  }
}
