.listing {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    background-color: #e4e4e4;
}

.listing-column {
    max-height: 443.63px;
    @media screen and (max-width: 768px) {
        max-width: 50% !important;
        margin: auto;
    }
    @media screen and (max-width: 575px) {
        min-width: 67% !important;
        margin: auto;
    }

}