.productCard {
    min-height: 410px;    
}

.image {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 200px;
}

.font12 {
 font-size: 12px;
}

.card-title, .card-text {
    min-height: 55px !important;
}